<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Compiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    

</head>
<body>
    <h1>Welcome To Python Online Compiler</h1>
    <form action="{{ url_for("index")}}" method="post">
        <div class="main">
            <div class="block">
                <button type="submit">Run Code</button>
            </div>
            
            <br/>
            <div class="block">
                <div class="editor">
                    <div class="line-numbers">
                        <span></span>
                    </div>
                <textarea class="code" name="pycode" rows="30" cols="85">{{data['py_code']}}</textarea>
                <textarea class="op" rows="30" cols="25">{{data['py_output']}}</textarea>
                </div>
            </div>
        </div>
    </form>
    <p>** This python compiler does not support Input From User as of now</p>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>